body{
  font-size: 1.4rem;
  background-color: #a4b2f0; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}

.wrap{
  background-color:#fff; 
  padding: 50px 4vw; 
  border-radius:20px; 
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1); 
  text-align: center;
}

h1{
  font-size: 4rem;
}

.number{
  font-size: 10rem; 
  font-weight: 700; 
  padding: 30px;
  background: linear-gradient(#96c4e9, #c198e2); 
  color: transparent; 
  background-clip: text;
}

.btn button{
  width: 50px; 
  height: 50px; 
  background-color:#000; 
  color: #fff; 
  border-radius: 50%; 
  margin: 0 2px;
}
.btn button.reset{
  width: 70px;
  height: 70px;
  background-color: #6b81e4;
}